{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "es2021": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["node_modules/", "dist/", ".eslintrc.js", "models/", "app.js"]
}
